.ticker-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: #b52222; /* negro */
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
}

.ticker-icon {
  z-index: 10;
  margin-right: 0.75rem;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
}

.ticker-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 25s linear infinite;
  padding-left: 100%; /* separa el texto del icono al reiniciarse */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}