@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 110px; /* o ajusta según altura real del header */
}